name: "CI"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    steps:
    
    - name: Checkout Repo
    - uses: actions/checkout@v2
    
    - name: Cache node_modules
    - uses: actions/cache@v2.1.6
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
      
    - run: |
        npm install
        npm run all
    
    - name: Run action
    - uses: ./
      with: 
        repository: "eloots/course-management-tools"
        tag: "1.0.0"
        fileName: "course-management-tools.zip"
        out-file-path: "."
    - run: |
          unzip course-management-tools.zip
          
    - name: List working directory
      run: ls -lrth
      
